/* Estilos generales */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body {
    margin: 0;
    padding: 0;
    display: flex; /* Flexbox para disposición del cuerpo */
    flex-direction: column; /* Dirección de los elementos en columna */
    min-height: 100vh;
}

/* .team-container {
    display: flex; 
    gap: 100px; 
    justify-content: center; 
    padding: 20px;
    flex-grow: 1; 
} */ 

.team-container {
    display: grid; /* Contenedor de grid */
    gap: 20px; 
    justify-content: center; 
    padding: 20px; 
    margin: 0 20px;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    align-items: center; 
}

.container {
    height: 450px;
    width: 300px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    text-align: center;
    overflow: hidden;
    position: relative;
}

.shape {
    background-color: rgba(120, 120, 120, 0.7);
    height: 200px;
    width: 500px;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-40%) rotate(25deg);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.image {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%) rotate(-25deg);
    border: none;
    border-radius: 50%;
    box-shadow: 0 1px 20px rgb(58, 54, 54);
}

.title {
    font-size: 20px;
    color: #ff8c00;
    margin-top: 190px; 
    margin-bottom: 0;
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin-left: 10px;
    font-size: 20px;
    transition: .3s;
    color: #ff8c00;
}

.icons i:hover {
    transform: scale(1.2);
    color: #ffd700;
}
